# Приклад win/linux: D:/Movies або C:\\Users\\Serhii\\Videos
MEDIA_FOLDER_PATH="D:/Фильмы"
TMDB_API_KEY=""
HTML_PATH=local_index.html
DB_PATH=movies.db
POSTERS_DIR=posters
GEMINI_API_KEY=""
GROQ_API_KEY=""
GROQ_MODEL="openai/gpt-oss-120b"
EXCLUDE_FOLDERS=""
GEMINI_MODELS=gemini-2.5-flash,gemini-flash-lite-latest
GOOGLE_SHEET_URL=""
GOOGLE_SHEET_WORKSHEET_NAME="base"
GITHUB_URL="https://github.com/shylosa/MovieList2"
GITHUB_PAGE_URL="https://shylosa.github.io/MovieList2"
GITHUB_PAGES_BRANCH="main"
