APP_VERSION="2.1.0"
# Приклад win/linux: D:/Movies або C:\\Users\\Serhii\\Videos
MEDIA_FOLDER_PATH="D:/Фильмы"
TMDB_API_KEY=""
HTML_PATH=local_index.html
DB_PATH=movies.db
POSTERS_DIR=posters
SPREADSHEET_NAME="MovieList"
GEMINI_API_KEY=""
GROK_API_KEY=""
EXCLUDE_FOLDERS="Mark"
GEMINI_MODELS=gemini-2.5-flash,gemini-2.5-pro,gemini-flash-latest,gemini-2.5-flash-lite,gemini-2.0-flash
GOOGLE_SHEET_URL=""
GOOGLE_SHEET_WORKSHEET_NAME="base"
