build/bin/
movielist-app.exe

local_index.html
movies.db
movies.db-journal
posters/
logs/
*.log

frontend/node_modules/
frontend/dist/

credentials.json
.env
*.env
movies.db-shm
movies.db-wal
.vscode/
_movies.db
CHECKLIST.md
